@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 0, 0%, 0%;
      --foreground: 0, 0%, 93.33%;
      --primary: 0, 90.78%, 42.55%;
      --secondary: 25.91, 100%, 43.14%;
      --radius: "none";
    }

    .dark {
        --background: 0, 0%, 0%;
        --foreground: 0, 0%, 93.33%;
        --primary: 0, 90.78%, 42.55%;
        --secondary: 25.91, 100%, 43.14%;
        --radius: "none";
    }
  
    :root:has(.no-doc-scroll) {
      overflow:hidden;
    }
}